@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Mulish;
    background-color: #F8FAFC;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.success-text {
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
}

.img-div {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
}

.img-div svg {
    width: 100%;
    height: 100%;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.form {
    position: absolute;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Maximum width for larger screens */
    height: auto;
    z-index: 2;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.form h3 {
    background-color: #FFF;
    color: #757575;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.form h1 {
    background-color: #FFF;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
}

#signupForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    margin-top: 10px;
}

#signupForm label {
    background-color: white;
    color: #333;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

#signupForm input {
    height: 35px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DEDEDE;
    outline: none;
    margin-bottom: 10px;
}

button {
    height: 50px;
    width: 100%;
    margin-top: 10px;
    align-self: center;
    border: none;
    border-radius: 6px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a transition effect */
}
/* Change the background color when hovered */
button:hover {
    background: linear-gradient(180deg, #463EEA 0%, #625BF7 100%);
}
/* Change the background color when clicked */
button:active {
    background: #463EEA; /* Set a different background color when clicked */
}

.message {
    background-color: #FFF;
    color: #625BF7;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}

.sign-up {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: #333;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    

}

span {
    background-color: transparent;
    color: #625BF7;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.form1 {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form1 h1 {
    font-size: 24px;
    font-weight: 500;
    font-family: Mulish;
}

.success-text {
    color: #625BF7;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Media Queries for smaller screens */
@media screen and (max-width: 767px) {
    .form {
        width: 90%; /* Adjust the width as needed */
        max-width: 90%;
    }

    .sign-up {
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }

    .message {
        font-size: 16px;
    }
}
